doctype html
html
  head
    title Poeti Casuali
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Lista dei Poeti
    each poet in poets
      div.poet
        img(src=poet.image, width="100")
        h3 #{poet.name}
        a(href=`/poets/${poet.id}`) Vedi dettagli →
