extends layout

block content
  .container.mt-5
    h2.text-primary= person.randomName

    .card.shadow-lg.mt-4
      .card-body
        table.table.table-bordered
          tbody
            tr
              th Nome:
              td= person.randomName
            tr
              th Email:
              td= person.randomEmail